# python
__pycache__/
*.pyc
.venv/
.ipynb_checkpoints/

# data
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

artifacts/results/*.csv
artifacts/results/latest_config.yaml

reports/figures/

.DS_Store
Thumbs.db
uv.lock
